In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Week0db

'Connected: None@Week0db'

In [3]:
%sql select * from users0;

Done.

[('Azamat', 'Abzalov', 'KMBO-03-15')]